{% extends 'myproject/base.html' %}

{% block title %}
   Новости
{% endblock %}

{% block content %}
    <h1 style="margin: 20px;">Новости</h1>
{% for new in news %}
    <div class="news-item">
        <div class="card" style="width: 30rem;">
            <div class="card-body">
                <h5 class="card-title"> {{ new.title }} </h5>
                <p class="card-text"> {{ new.short_description }} </p>
                <a href="#" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
    <hr>
{% empty %}
    <p>Пока нет новостей.</p>
{% endfor %}

{% endblock %}
